In [1]:
# Imports
import sys
sys.path.append('../../../utils')

from default_imports import *

In [2]:
# Load data
raw_train_df = pd.read_csv('../data/raw/train.csv')
raw_test_df = pd.read_csv('../data/raw/test.csv')

# Data Exploration
01_data_exploration.ipynb

In [6]:
raw_train_df.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

In [7]:
raw_train_df.describe()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,loan_paid_back
count,593994.000000,593994.000000,593994.000000,593994.000000,593994.000000,593994.000000,593994.000000
mean,296996.500000,48212.202976,0.120696,680.916009,15020.297629,12.356345,0.798820
std,171471.442236,26711.942078,0.068573,55.424956,6926.530568,2.008959,0.400883
min,0.000000,6002.430000,0.011000,395.000000,500.090000,3.200000,0.000000
25%,148498.250000,27934.400000,0.072000,646.000000,10279.620000,10.990000,1.000000
50%,296996.500000,46557.680000,0.096000,682.000000,15000.220000,12.370000,1.000000
75%,445494.750000,60981.320000,0.156000,719.000000,18858.580000,13.680000,1.000000
max,593993.000000,393381.740000,0.627000,849.000000,48959.950000,20.990000,1.000000

In [10]:
column_types = pd.DataFrame({
    'Column': raw_train_df.columns,
    'Type': ['Numerical' if pd.api.types.is_numeric_dtype(raw_train_df[col]) else 'Categorical' for col in raw_train_df.columns]
})

print(column_types)

                  Column         Type
0                     id    Numerical
1          annual_income    Numerical
2   debt_to_income_ratio    Numerical
3           credit_score    Numerical
4            loan_amount    Numerical
5          interest_rate    Numerical
6                 gender  Categorical
7         marital_status  Categorical
8        education_level  Categorical
9      employment_status  Categorical
10          loan_purpose  Categorical
11        grade_subgrade  Categorical
12        loan_paid_back    Numerical

In [13]:
# Filter categorical columns
categorical_cols = [col for col in raw_train_df.columns if not pd.api.types.is_numeric_dtype(raw_train_df[col])]

# Display unique values for each categorical column
for col in categorical_cols:
    print(f"{col}: {raw_train_df[col].unique()}, num unique: {len(raw_train_df[col].unique())}")

gender: ['Female' 'Male' 'Other'], num unique: 3
marital_status: ['Single' 'Married' 'Divorced' 'Widowed'], num unique: 4
education_level: ['High School' "Master's" "Bachelor's" 'PhD' 'Other'], num unique: 5
employment_status: ['Self-employed' 'Employed' 'Unemployed' 'Retired' 'Student'], num unique: 5
loan_purpose: ['Other' 'Debt consolidation' 'Home' 'Education' 'Vacation' 'Car'
 'Medical' 'Business'], num unique: 8
grade_subgrade: ['C3' 'D3' 'C5' 'F1' 'D1' 'D5' 'C2' 'C1' 'F5' 'D4' 'C4' 'D2' 'E5' 'B1'
 'B2' 'F4' 'A4' 'E1' 'F2' 'B4' 'E4' 'B3' 'E3' 'B5' 'E2' 'F3' 'A5' 'A3'
 'A1' 'A2'], num unique: 30

In [14]:
raw_train_df['loan_paid_back'].unique()

array([1., 0.])