In [120]:
# Imports
import sys
sys.path.append('../../../utils')

from default_imports import *

In [121]:
# Load data
raw_train_df = pd.read_csv('../data/raw/train.csv')
raw_test_df = pd.read_csv('../data/raw/test.csv')

# Data Preprocessing
02_data_preprocessing.ipynb

In [122]:
train_df = raw_train_df.copy()

train_df.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

## One-hot encoding

In [123]:
train_df = pd.get_dummies(train_df, columns=['gender', 'marital_status', 'education_level', 'employment_status', 'loan_purpose'], dtype=float)

indices, categories = pd.factorize(train_df['grade_subgrade'])
grade_mapping = dict(zip(train_df['grade_subgrade'], indices))
train_df['grade_subgrade'] = train_df['grade_subgrade'].map(grade_mapping).fillna(-1.0).astype(float)

train_df.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,grade_subgrade,loan_paid_back,gender_Female,gender_Male,...,employment_status_Student,employment_status_Unemployed,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
0,0,29367.99,0.084,736,2528.42,13.67,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,22108.02,0.166,636,4593.10,12.92,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,49566.20,0.097,694,17005.15,9.76,2.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3,46858.25,0.065,533,4682.48,16.10,3.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,25496.70,0.053,665,12184.43,10.21,4.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [124]:
test_df = pd.get_dummies(raw_test_df, columns=['gender', 'marital_status', 'education_level', 'employment_status', 'loan_purpose'], dtype=float)
test_df['grade_subgrade'] = test_df['grade_subgrade'].map(grade_mapping).fillna(-1.0).astype(float)


test_df.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,grade_subgrade,gender_Female,gender_Male,gender_Other,...,employment_status_Student,employment_status_Unemployed,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
0,593994,28781.05,0.049,626,11461.42,14.73,5.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,593995,46626.39,0.093,732,15492.25,12.85,7.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,593996,54954.89,0.367,611,3796.41,13.29,4.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,593997,25644.63,0.110,671,6574.30,9.57,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,593998,25169.64,0.081,688,17696.89,12.80,7.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [125]:
train_df.to_csv('../data/processed/train.csv', index=False)
test_df.to_csv('../data/processed/test.csv', index=False)